{% extends 'base.html' %}

{% block content %}
<style>
    /* includes alternating gray and white with on-hover color */

    .mystyle {
        font-size: 11pt; 
        font-family: Arial;
        border-collapse: collapse; 
        border: 1px solid silver;

    }

    .mystyle td, th {
        padding: 5px;
    }

    .mystyle tr:nth-child(even) {
        background: #E0E0E0;
    }

    .mystyle tr:hover {
        background: silver;
        cursor: pointer;
    }
</style>

<section class="container">
    <h3>Filename: {{ filename }}</h3><br>
    {{ data_var|safe }}

    <br>
    <a href="{{ url_for('upload') }}" style="border: none; height: auto; margin-right: 15px;" class="btn btn-primary"><i class="fa fa-trash fa-2x"></i>Back</a>
</section>
    
{% endblock %}