{% extends 'base.html' %}

{% block content %}
    <div id="filter_form">
        <form action="/">

            <div class="container">
                <div class="row form-group">
                    <div class="col-sm" id="Factor_filter" style="padding-right: 0px">
                        <h4>Factor Filter:</h4><br>

                        {% for factor in factors %}
                            {% if factors_value[factor] == True %}
                                <input type="checkbox" id="{{ factor }}" name="{{ factor }}" value="T" checked>
                                <label for="{{ factor }}" style="padding-left: 10px;">{{ factor }}</label><br>
                            {% else %}
                                <input type="checkbox" id="{{ factor }}" name="{{ factor }}" value="T">
                                <label for="{{ factor }}" style="padding-left: 10px;">{{ factor }}</label><br>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-md" id="Year_filter" style="padding-left: 0px">
                        <h4>Year:</h4>

                        <label for="start_year">From:</label>
                        <input type="text" id="start_year" class="form-control"
                               name="start_year" value="{{ start_year }}">
                               
                        <br/>
                        <label for="end_year">to:</label>
                        <input type="text" id="end_year" class="form-control"
                               name="end_year" value="{{ end_year }}">
                    </div>

                    <div class="col-md" id="Country_filter" style="padding-left: 50px">
                        <h4 style="padding-bottom: 8px;">Country:</h4><br>

                        <select name="Country" id="Country" class="form-control">
                            {% for option in countries %}
                                {% if option == country %}
                                    <option value="{{ option }}" selected>{{ option }}</option>
                                {% else %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}

                            <!-- <option value="United States">USA</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Japan">Japan</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="France">France</option>
                            <option value="Philippines">Philippines</option>
                            <option value="India">India</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Mexico">Mexico</option> -->
                        </select>
                    </div>
                </div>

                <br><br>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">

                <!-- Plotly -->
                <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

                {% if filter == True %}
                    <h1 style="padding-top: 2em; text-align: center;">{{ country }}</h1>
                    {% set count = 0 %}
                    {% for graphs in range(graphJSON|length) %}
                        <div id='{{ graphs }}' class='chart'></div>
                        <script type='text/javascript'>
                            var graph = {{ graphJSON[graphs] | safe}};
                            Plotly.plot('{{ graphs }}', graph, {});
                        </script>
                        <a class="btn btn-info"
                           style="margin-left: 80px;"
                           href="{{ url_for('view_individual_dataset', dataset=factors_list[graphs]) }}"
                           role="button">View dataset - {{factors_list[graphs]}}
                        </a>

                        <a class="btn btn-secondary"
                           style="margin-left: 20px;"
                           href="{{ url_for('export_dataset', dataset=factors_list[graphs]) }}"
                           role="button">Export dataset - {{factors_list[graphs]}}
                        </a>
                        {% set count = count + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}