{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Crime Rate Graphs{% endblock %}</h1>

    <style>
        fieldset{
            display: inline;
            border: 5px solid black;
        }
    </style>

    <div id="filter_form">
        <form action="/">
            <fieldset id="Country_filter">
                <legend>Country Filter:</legend>
                <label for="Country">Country:</label>
                <select name="Country" id="Country">
                    <option value="USA">USA</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Japan">Japan</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="France">France</option>
                    <option value="Philippines">Philippines</option>
                    <option value="India">India</option>
                    <option value="South Afrcia">South Afrcia</option>
                    <option value="Mexico">Mexico</option>
                </select>
            </fieldset>

            <fieldset id="Year_filter">
                <legend>Year Filter:</legend>
                <label for="start_year">Year:</label>
                <input type="text" id="start_year" name="start_year" value="1990">
                <label for="end_year">to</label>
                <input type="text" id="end_year" name="end_year" value="2020">
            </fieldset>
            
            <fieldset id="Factor_filter">
                <legend>Factor Filter:</legend>
                <input type="checkbox" id="Educational_opportunities" name="Educational_opportunities" value="T" checked>
                <label for="Educational_opportunities">Lack of Educational opportunities</label><br>
                <input type="checkbox" id="Poverty" name="Poverty" value="T" checked>
                <label for="Poverty">Poverty</label><br>
                <input type="checkbox" id="Inequality" name="Inequality" value="T" checked>
                <label for="Inequality">Inequality</label><br>
                <input type="checkbox" id="Dysfunctional_family" name="Dysfunctional_family" value="T" checked>
                <label for="Dysfunctional_family">Dysfunctional family</label><br>
                <input type="checkbox" id="CPI" name="CPI" value="T" checked>
                <label for="CPI">Consumer Price Index</label><br>
                <input type="checkbox" id="Income_Polarization" name="Income_Polarization" value="T" checked>
                <label for="Income_Polarization">Income Polarization</label><br>
            </fieldset>

            <input type="submit" value="Submit">
        </form>
    </div>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    {% for graphs in range(graphJSON|length) %}
        <div id='{{ graphs }}' class='chart'></div>
        <script type='text/javascript'>
            var graph = {{ graphJSON[graphs] | safe}};
            Plotly.plot('{{ graphs }}', graph, {});
        </script>
    {% endfor %}
{% endblock %}