{% extends 'base.html' %}

{% block content %}
    <style>
        section {
            padding-top: 2%;
        }

        ul {
            list-style-type: none;
            padding: 0px;
        }
    </style>

    <h1>{% block title %} Crime Rates Plotter {% endblock %}</h1>

    <section>
        <h3>Upload</h3>
        <br>
        <form action = "/upload_files" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" multiple />
            <input type = "submit" value="Upload">
        </form>


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div style="margin-top: 40px;">
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <section>
        <h3>Uploaded datasets</h3>
        <br>
        {% for filename, file_information in files.items() %}
        <ul>
            <li>
                <a href="{{ url_for('delete_file', filename=filename) }}" style="border: none; height: auto; margin-right: 15px;" class="btn btn-danger" onclick="return confirm('Confirm Deletion')"><i class="fa fa-trash fa-2x"></i>Delete</a>
                <a href="/display_file/{{ filename }}">{{ filename }}</a>
                ({{ file_information[0] }}) - {{ file_information[1] }}
            </li>
        </ul>
        {% endfor %}
    </section>
{% endblock %}